<nav class="page services">
  <section class="clearance services__service skewed__container">
    <div class="skewed skewed--full bg--opaque">
      <div class="skewed__content service__info">
        <h1 class="heading">Drain Clearance</h1>
        <a [routerLink]="['/services/clearance']" class="btn btn--regular">Learn More</a>
      </div>
    </div>
  </section>
  <section class="cctv services__service skewed__container">
    <div class="skewed skewed--full bg--opaque">
      <div class="skewed__content service__info">
        <h1 class="heading">CCTV Drain Inspections</h1>
        <a class="btn btn--regular" [routerLink]="['/services/cctv']">Learn More</a>
      </div>
    </div>
  </section>
  <section class="repairs services__service skewed__container">
    <div class="skewed skewed--full bg--opaque">
      <div class="skewed__content service__info">
        <h1 class="heading">Drain Repairs</h1>
        <a [routerLink]="['/services/repairs']" class="btn btn--regular">Learn More</a>
      </div>
    </div>
  </section>
  <section class="installation services__service skewed__container">
    <div class="skewed skewed--full bg--opaque">
      <div class="skewed__content service__info">
        <h1 class="heading">Drain Installation</h1>
        <a [routerLink]="['/services/installation']" class="btn btn--regular">Learn More</a>
      </div>
    </div>
  </section>
  <section class="tanker services__service skewed__container">
    <div class="skewed skewed--full bg--opaque">
      <div class="skewed__content service__info">
        <h1 class="heading">Tanker Services</h1>
        <a [routerLink]="['/services/tanker']" class="btn btn--regular">Learn More</a>
      </div>
    </div>
  </section>
  <section class="services__service bg contact">
    <div class="service__info">
      <h1 class="heading">Contact Us</h1>
      <a [routerLink]="['/contact']" class="btn btn--regular">Get In Touch</a>
    </div>
  </section>
</nav>