<div class="page page--no-skew bg login">
  <h1 class="heading">Login</h1>
  <form class="form login__form">
    <label for="username" class="srt">Username</label>
    <input type="text" name="username" id="username" class="form__text-input" placeholder="Enter Username">
    <label class="srt" for="password">Password</label>
    <input type="password" name="password" id="password" class="form__text-input" placeholder="Password">
    <input type="submit" value="Login" class="btn btn--regular">
  </form>
</div>