.tabbed {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
  @include e(tabs) {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    @include flex($justify: between);
    li {
      background-color: lighten($bg-opaque, 10%);
      border-radius: .5rem .5rem 0 0;
      width: calc(50% - .1rem);
      &.active {
        background-color: $bg-opaque;
      }
      &:first-child() {
        margin-right: .25rem;
      }
      a {
        @include flex($justify: center, $align: center);
        width: 100%;
        height: 100%;
      }
    }
  }
  @include e(panel-w) {
    padding: 1.5rem;
    border-radius: 0 0 .5rem .5rem;
  }
  @include e(panel) {
    display: none;
    min-height: $footer-height-sm;
    &.active {
      display: block;
    }
  }
}