<header class="header bg">
  <div class="header__holder">
    <h1 class="header__title heading">Professional Bristol Drain Clearance</h1>
    <a class="btn btn--inverted" href="tel:+441179080116"><i>&#9742;</i> 01179 080116</a>
  </div>
  <nav class="nav">
    <ul class="nav__links">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Services</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Tips and Advice</a>
      </li>
      <li>
        <a href="">Testimonials</a>
      </li>
      <li>
        <a href="">Locations</a>
      </li>
      <li>
        <a href="">Blog</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>
</header>