<div class="contact skewed__container">
  <div class=" skewed skewed--full bg bg--opaque">
    <div class="skewed__content">
      <h1 class="heading">Get In Touch</h1>
      <h2><a class="btn btn--regular header__phone" href="tel:+441179080116"><i>&#9742;</i> 01179 080116</a></h2>
      <form class="form">

        <div class="form__input">
          <label for="name" class="srt">Name</label>
          <input type="text" class="form__text-input" placeholder="Name">
        </div>

        <div class="form__input">
          <label for="phone" class="srt">Name</label>
          <input type="text" id="phone" name="phone" class="form__text-input" placeholder="Phone Number">
        </div>

        <div class="form__input">
          <label for="email" class="srt">Name</label>
          <input type="email" id="email" name="email" class="form__text-input" placeholder="Email Address">
        </div>

        <div class="form__input">
          <label for="messag" class="srt">Name</label>
          <textarea rows="8" type="text" id="message" name="message" class="form__text-input" placeholder="Message"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn--regular">
      </form>
    </div>
  </div>
</div>