<div class="page bg">
  <form class="form">
    <h1 class="heading">Register</h1>
    <div class="form__input">
      <label for="username" class="srt">Name</label>
      <input class="form__text-input" type="text" name="name" id="name" placeholder="Name">
    </div>
    <div class="form__input">
      <label for="code" class="srt">Invite Code</label>
      <input class="form__text-input" type="text" name="code" id="code" placeholder="Invite Code">
    </div>
    <div class="form__input">
      <label for="password" class="srt">Set Password</label>
      <input class="form__text-input" type="password" name="password" id="password" placeholder="Set Password">
    </div>
    <div class="form__input">
      <label for="confirm" class="srt">Confirm Password</label>
      <input class="form__text-input" type="password" name="confirm" id="confirm" placeholder="Confirm Password">
    </div>
    <input type="submit" value="Register" class="btn btn--regular">
  </form>
</div>