<div class="page bg">
  <form class="form" (submit)="onRegisterSubmit()">
    <h1 class="heading">Register</h1>
    <div class="form__input">
      <label for="name" class="srt">Name</label>
      <input [(ngModel)]="name" class="form__text-input" type="text" name="name" id="name" placeholder="Name">
    </div>
    <div class="form__input">
      <label for="username" class="srt">Name</label>
      <input [(ngModel)]="username" class="form__text-input" type="text" name="username" id="name" placeholder="Username">
    </div>
    <div class="form__input">
      <label for="code" class="srt">Invite Code</label>
      <input [(ngModel)]="code" class="form__text-input" type="text" name="code" id="code" placeholder="Invite Code">
    </div>
    <div class="form__input">
      <label for="password" class="srt">Set Password</label>
      <input [(ngModel)]="password" class="form__text-input" type="password" name="password" id="password" placeholder="Set Password">
    </div>
    <div class="form__input">
      <label for="confirm" class="srt">Confirm Password</label>
      <input [(ngModel)]="confirm" class="form__text-input" type="password" name="confirm" id="confirm" placeholder="Confirm Password">
    </div>
    <input type="submit" value="Register" class="btn btn--regular">
  </form>
</div>