<div class="page">
  <main class="home with-aside skewed__container">
    <div class="skewed bg--opaque">
      <header role="banner" class="skewed__content banner">
        <h1 class="heading banner__heading">Professional Bristol Drain Clearance</h1>
        <h2>Bristol's premiere drain clearing experts.<br><br>24/7 Call Out.</h2>
        <a class="btn btn--regular header__phone" href="tel:+441179080116"><i>&#9742;</i> 01179 080116</a>
      </header>
    </div>
  </main>
  <app-policies class="aside"></app-policies>
</div>