<div class="page">
  <main class="page--no-skew with-aside">
    <nav class="services__nav">
      <ul class="services__links">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/services/clearance']">Drain Clearance</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/services/cctv']">CCTV Inspections</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/services/repairs']">Drain Repairs</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/services/installation']">Drain Installation</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/services/tanker']">Tanker Services</a>
        </li>
      </ul>
    </nav>
    <article>
      <h1 class="heading">Drain Clearance</h1>
      <img src="assets/img/pressure.png" alt="picture of a high pressure nozzle used to clear drains">
      <p>Bristol Drain Services can offer both our domestic and commercial customers a full range of drainage services. Whether you need a one off emergency call out or are concerned about the general performance of your drains our experienced team of staff
        are here to help.</p>
      <p>Our engineers can use a variety of methods, set to the jobs requirements to bring about the best and most cost effective solution to your drain problem.</p>
      <p>We use both traditional drain rod’s or high pressure water jetting units in most cases to clear a standard blocked drain. When required we can utilise root cutting equipment or other types of jetting heads to clear your blockage</p>
      <p>Our engineers will always keep you fully updated on the process of the drain clearance always advising if other additional works are required.</p>
      <h2><i>&#9742;</i> 01179 080116</h2>
    </article>

  </main>
  <app-policies class="aside"></app-policies>
</div>