.app {
  min-height: 100vh;
  @include flex($direction: column, $justify: between);
  @include e(body) {
    background-color: $white;
    min-height: $panel-height-sm;
    @include mq(medium) {
      min-height: $panel-height-md;
    }
    @include mq(large) {
      min-height: $panel-height-lg;
    }
  }
}