.policies {
  padding: 1.5rem;
  @include e(heading) {
    text-align: center;
    margin: 0 0 1.5rem;
    font-size: 1.5rem;
  }
  @include e(policies) {
    li {
      margin: 1rem 0;
      @include flex($align: center);
    }
    .tick {
      display: inline-block;
      margin-right: 1rem;
      font-size: 2rem;
    }
    span {
      display: inline-block;
    }
  }
}